body {
    background: black;
    color: white;
    font-size: larger;
    padding: 0 25% 0 25%;
}

.headerslime {
    width: 2%
}

.monsters,
#attackSectionPanel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.monsters div,
#attackSectionPanel div {
    margin-right: 2%;
}

.monsterUnitImage {
    width: 7em;
}

.defeated span,
#errorMessage {
    color: red;
}

button {
    font-size: 1.2em;
    border-radius: 4px;
    background-color: #058aff;
    border-color: #058aff;
}

.monsterSelection,
b {
    font-size: 1.2em;
}

#battleId {
    font-size: 0.9em;
}

#links a {
    padding-left: 10px;
    font-size: 1.2em;
    color: #085aff;
}

.formlabel {
    width: 12%;
    display: inline-block;
}

.hidden {
    display: none
}

#successMessage {
    color: lawngreen
}